<!DOCTYPE html>
<html>
  <head>
    <title>Zweig</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <header>
  <%= render 'home/navbar' %>
  </header>
  <body>
    <%= yield %>

  </body>
</html>
